#encabezado {
    background-color: rgb(213, 209, 209);
    height: 10rem;
}
#titulo {
    color: #c1121f;
    text-align: center;
}

#icon {
    position: relative;
    margin-left: 5rem;
    margin-top: -6rem;
    width: 10rem; 
    height: auto;
}
li {
    list-style: none;
}
li a {
    text-decoration: none;
    padding: 2em;
    color: darkmagenta;
    display: block;
    background-color: #f3f3f3;
    transition: 0.5s;
}